/* Imports*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* ------------------------------------------------------------------------------------------------Genereal css*/

body {
    background-color: rgb(196, 205, 224);
    margin: 0;
    margin-bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    color: rgb(37, 60, 84);
    text-align: center;
}

main {
    height: 100vh;
}

.full-screen-box {
    text-align: center;
    background-color: white;
    width: 80vw;
    margin: auto auto 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}

.half-screen-box {
    text-align: center;
    background-color: white;
    width: 50vw;
    margin: auto auto 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}

.white-background {
    background-color: white;
}

/*--------------------------------------------------------------------------------------------------Text/Font css*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Press Start 2P', system-ui;
}

p {
    font-family: 'Ubuntu Mono', monospace;
}

.main-header-text {
    margin: 50px auto;
}

/* ------------------------------------------------------------------------------------------------Buttons css*/
.all-btn {
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-family: 'Press Start 2P', system-ui;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
    display: block;
    margin: 25px auto;
    text-align: center;
    width: 200px;
    padding: 20px;
    font-size: 15px;
    border: 2px solid;
}

.primary-btn {
    background-color: rgb(168, 55, 96);
    border: solid 2px rgb(168, 55, 96);
}

.primary-btn:hover {
    background-color: rgb(60, 93, 121);
    border: solid 2px rgb(60, 93, 121);
}

.secondary-btn {
    background-color: rgb(46, 124, 87);
    border: solid 2px rgb(46, 124, 87);
}

.secondary-btn:hover {
    background-color: rgb(180, 105, 48);
    border: solid 2px rgb(180, 105, 48);
}

.tertiary-btn {
    background-color: rgb(19, 161, 156);
    border: solid 2px rgb(19, 161, 156);
}

.tertiary-btn:hover {
    background-color: rgb(139, 82, 163);
    border: solid 2px rgb(139, 82, 163);
}


/* ------------------------------------------------------------------------------------------------Header css*/
nav {
    font-family: 'Press Start 2P', system-ui;
    color: rgb(99, 99, 99);
    display: flex;
    height: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}

nav img {
    width: 20px;
}

nav h3 {
    display: flex;
    align-items: center;
    margin: 0;
}

nav div {
    display: flex;
    flex-direction: row;
}

nav div a {
    text-decoration: none;
    justify-content: center;
    color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    height: 60px;
    width: 140px;
    margin: 0 5px;
    text-align: center;
}

nav a:hover {
    color: rgb(146, 78, 156);
}

/*------------------------------------------------------------------------------------------ Footer*/

footer {
    background-color: rgb(146, 78, 156);
    color: white;
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: row;
    left: 0px;
    bottom: 0px;
    min-height: 20vh;
    padding-top: 10px;
    min-width: 100vw;
}

footer div {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer div img {
    width: 7vw;
}

/*----------------------------------------------------------------------------------------Pokemon display*/
#all-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.pokemon-display {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    flex: 0 0 15vw;
    margin: 60px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}

.pokemon-display a {
    display: flex;
    flex-direction: row;
}

.pokemon-display img {
    width: 10vw;
    height: auto;
}

#pokemon-display-profile {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}

#pokemon-display-profile img {
    width: 10vw;
}

/*---------------------------------------------------------------------------------------------Front page */
/*---------------------------------------------------------------------------------------------Login page */
/*---------------------------------------------------------------------------------------------Signup page */

/*--------------------------------------------------------------------------------------------Trainer profile */

#trainer-profile-box {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
    margin: 5% auto 0 auto;
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    border-radius: 10%;
    width: 10vw;
    border: 5px rgb(168, 55, 96) solid;
    margin: auto;
}

#profile-terms {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
    margin: auto;
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------------------------------------FAQ */

#faq {
    text-align: center;
    background-color: white;
    width: 80vw;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}

/*--------------------------------------------------------------------------------------------FAQ */

.question-box {
    text-align: center;
    background-color: white;
    width: 80vw;
    margin: auto auto 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(125, 139, 159);
}